@import "tailwindcss";

:root {
  --background: #f5f5fa;
  --foreground: #171717;
  --secondary: #b8bade;
  --accent: #4d8ff3;
  --additional: #737373;
  --button: #5d65d6;
  --button-foreground: #494fbd;
}


.dark {
  --background: #171824;
  --foreground: #ffffff;
  --secondary: #252637;
  --accent: #4d8ff3;
  --additional: #d4d4d4;
  --button: #212335;
  --button-foreground: #282b42;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-additional: var(--additional);
  --color-button: var(--button);
  --color-button-foreground: var(--button-foreground)
}

html,
body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scrollbar-gutter: stable both-edges;
}

body {
  font-family: Onest, Arial, Helvetica, sans-serif;
}