@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171824;
    --foreground: #ffffff;

    --secondary: #252637;
    --accent: #4d8ff3;
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Onest, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}


@theme {
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}